@model IRPALProject.Models.ArticleCategory

@{
    ViewBag.Title = "إضافة تصنيف مقال";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "contol-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "أدخل تصنيف مقال مثل أقلام حرة", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="إضافة" class="btn btn-success" />
                @Html.ActionLink("إلغاء الأمر", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}