@model IEnumerable<MVCIntro.Models.Country>

@{
    ViewBag.Title = "Countries";
}

@Html.ActionLink("New Country", "Create", null, new { @class = "btn btn-success" })

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Iso2)</th>
            <th>@Html.DisplayNameFor(model => model.Code)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var country in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => country.Name)</td>
                <td>@Html.DisplayFor(model => country.Iso2)</td>
                <td>@country.Code</td>
                <td>
                    <a class="btn btn-info btn-xs" href="/Countries/Details/@Html.DisplayFor(model => country.Id)">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                    <a class="btn btn-primary btn-xs" href="/Countries/Edit/@country.Id">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-xs Confirm" href="/Countries/Delete/@country.Id">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>