@model IRPALProject.Models.Menu
@{
    ViewBag.Title = "إضافة قائمة جديدة - " + ViewBag.MenuTitle;
    string ParentId = ViewBag.ParentId + "";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ParentId", ParentId)
    <hr />

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Title, "العنوان", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "عنوان القائمة", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.URL, "الرابط", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.URL, new { @class = "form-control", @placeholder = "الرابط" })
                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <label>
                    @Html.CheckBoxFor(model => model.Active, new { @class = "form-control" })
                    الفعالية
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <label>
                    @Html.CheckBoxFor(model => model.NewWindow, new { @class = "form-control" })
                    نافذة جديدة
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input type="submit" class="btn btn-success" value="إضافة" />
                @Html.ActionLink("عودة إلى القائمة", "Index", new { @id = ParentId }, new { @class = "btn btn-default" })
            </div>
        </div>

    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}