@model IEnumerable<IRPALProject.Models.Article>
@{ 
    ViewBag.Title = "المقالات";
}

<h1 class="page-header">@ViewBag.Title</h1>
@using (Html.BeginForm("Articles", "Home", FormMethod.Get, new { @class = "row" }))
{
    <div class="col-sm-4">
        <input type="text" name="q" value="@ViewBag.q" class="form-control" placeholder="بحث عن...">
    </div>
    <div class="col-sm-2">
        @Html.DropDownList("CategoryId", (SelectList)ViewBag.CategoryList, "جميع التصنيفات", new { @class = "form-control" })
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary" type="submit">ابحث!</button>
    </div>
}

<hr />

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-3">
                <a href="/Home/Article/@item.Slug">
                    <img src="~/Content/Images/Medium/@item.Image" class="img-responsive img-thumbnail img-rounded" />
                </a>
            </div>
            <div class="col-sm-9">
                <h3>@item.Title</h3>
                <p>@item.Summary</p>
                <p>
                    <a href="/Home/Article/@item.Slug" class="btn btn-info">
                        للمزيد &raquo;
                    </a>
                </p>
            </div>
        </div>
        <hr>
    }

    @Html.Partial("_Pagination")
}
else
{
    <div class="alert alert-info">@Resources.Lang.NoItemsMsg</div>
}