@model IEnumerable<IRPALProject.Models.Article>
@{ 
    ViewBag.Title = "المقالات";
}

@using (Html.BeginForm("Index", "Article", new { area = "CMS" }, FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" name="q" value="@ViewBag.q" class="form-control" placeholder="بحث عن...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">ابحث!</button>
                </span>
            </div>
        </div>

        <div class="col-md-2">
            <a href="/CMS/Article/Add" class="btn btn-success pull-right">
                <i class="fa fa-plus"></i>
                إضافة مقال جديد
            </a>
        </div>
    </div>
}

<hr />

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>عنوان المقال</th>   @*@Html.DisplayNameFor(model => model.Title)*@
                <th width="15%">التصنيف</th>
                <th width="5%">النشر</th>
                <th width="17%">تاريخ الإضافة</th>
                <th width="15%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Title)</td>
                    <td>@Html.DisplayFor(model => item.ArticleCategory.Title)</td>
                    <td>@Html.DisplayFor(model => item.Published)</td>
                    @*<td>@Html.CheckBoxFor(model => item.Published)</td>*@
                    @*<td><input type="checkbox" @(item.Published ? "checked" : "") disabled /></td> <!--Basil-->*@
                    <td>@Html.ValueFor(model => item.InsertedAt, "{0:dd/MM/yyyy HH:mm}")</td>
                    <td>
                        <a href="/CMS/Article/Edit/@Html.DisplayFor(model => item.Id)" class="btn btn-primary btn-xs">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a href="/CMS/Article/Delete/@item.Id" class="btn btn-danger btn-xs Confirm">
                            <i class="glyphicon glyphicon-remove Confirm"></i>
                        </a>
                    </td>
                    <td>@*@Html.DisplayNameFor(model => item.Title)*@</td><!--ambiguity-->
                </tr>
            }
        </tbody>
    </table>

    @Html.Partial("_Pagination")
}
else
{
    <div class="alert alert-info">@Resources.Lang.NoItemsMsg</div>
}